# Easier navigation
alias ..="cd.."

# Quick access to my projects. Can be used like
# $ work
alias work="cd ~/dev/work"
alias personal="cd ~/dev/personal"

# Get local IP
alias local-ip="ipconfig getifaddr en0"

# Check if some APIs are online
alias check-uptime="node ~/dev/personal/uptime-checker/app.js"

# Open /r/webdev and dev.to in Chrome
alias start-day="open -a 'Google Chrome' https://dev.to https://reddit.com/r/webdev https://reddit.com/r/javascript https://css-tricks.com/"

# Restart Control Strip (Catalina Bug)
alias restart-control-strip="killall ControlStrip"

# Go to htdocs directory (MAMP)
alias htdocs="cd /Applications/MAMP/htdocs"

# Scrape daily text & display it right in the terminal
alias daily-text="SITE=URL_HERE node ~/dev/personal/daily-text/index.js"

# GIT ALIASES
alias gac="git add . && git commit -m" # + commit message
alias gp="git push" # + remote & branch name
alias gcb="git checkout" # + branch name

# Create React App
alias new-react="npx create-react-app --use-npm" # + name of dir
