# Easier navigation
alias ..="cd.."

# Quick access to my projects. Can be used like
# $ work
alias work="cd ~/dev/work"
alias personal="cd ~/dev/personal"

# Get local IP
alias local-ip="ipconfig getifaddr en0"

# Check if some APIs are online
alias check-uptime="node ~/dev/personal/uptime-checker/app.js"
